.maintitle {
    background-color: aliceblue;
    font-size: 40px;
    color: aquamarine;
}

.carbs {
    background-color: aliceblue;
    font-size: 40px;
    color: aquamarine;
    text-align: center;
}

.protein {
    background-color: aliceblue;
    font-size: 40px;
    color: aquamarine;
    text-align: center;
    font-weight: bold;
}